Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Depends: java-common
Description: NeoSCADA health/status endpoint service
Maintainer: Juergen Rose <juergen.rose@ibh-systems.com>