Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Depends: org.eclipse.neoscada.contrib.server.common | org.eclipse.scada | org.eclipse.neoscada
Description: master server
Maintainer: Juergen Rose <juergen.rose@ibh-systems.com>